.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}

h1 {
  background-color: #4f46e5;
  text-align: center;
  padding: 1rem;
  color: #fff;
}

p {
  width: 80%;
  margin: 1rem auto;
  text-align: center;
}

button {
  background-color: #4f46e5;
  padding: 0.5rem 0.8rem;
  margin: 0.5rem;
  border-radius: 0.2rem;
  color: #fff;
  outline: none;
  border: 1px solid rgb(122, 122, 122);
  box-shadow: 0px 2px 4px;
}

button:hover {
  cursor: pointer;
  background-color: #1c86ff;
}

button:active {
  position: relative;
  top: 3px;
  box-shadow: none;
}

hr {
  margin: 1rem 0rem 1.5rem 0rem;
}

.name {
  font-size: larger;
  margin-top: 1rem;
}

.rating {
  font-size: smaller;
  padding: 1rem;
}

.container ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list {
  padding: 10px 20px 50px 50px;
}

.img img {
  width: 200px;
  height: auto;
}

@media only screen and (max-width: 360px) {
  .container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
